@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Content/Login.css">

</head>
<body>


    <div class="sidenav">
        <div class="login-main-text">
        </div>
    </div>
    <div class="main">
        <img class="img-logo" style="width:370px; height:150px" src="~/Image/logo_text.png" />
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/User/Dangnhap" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="DPHn_n77xExIp8vPwAwLb8TLyoUm7z4i4P2Jfzu5UcVj47HR7fh6BhiiC5qTh5M60KUk3ekH62oRSmoic8YV2bKzYJkw02J9BUqjfVJaGJg1" />    <div class="form-horizontal">
                        <hr />

                        <div class="form-group">
                            <label style=" max-width: none; " class="control-label col-md-2" for="userMail">Tên tài khoản</label>
                            <div class="col-md-10">
                                <input class="form-control col-sm-12" id="Username" name="Username" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style=" max-width: none; " class="control-label col-md-2" for="Password">Mật khẩu</label>
                            <div class="col-md-10">
                                <input class="form-control col-sm-12" id="Password" name="Password" type="Password" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <button type="submit" name="button" class="btn btn-black col-sm-12">Đăng nhập </button>
                        <button class="btn btn-black col-sm-12"><a href="~/User/Dangky">Đăng ký</a> </button>

                </form>
            </div>
        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>