@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Content/Login.css">

</head>
<body>

    <h2 style="margin-left: 50%;font-size: x-large;">Đăng ký tài khoản floda</h2>
    <div class="sidenav">
        <div class="login-main-text">
        </div>
    </div>
    <div class="main">
        <img class="img-logo" style="width:370px; height:150px" src="~/Image/logo_text.png" />
        <div class="col-md-6 col-sm-12">

            <form action="/User/Dangky" method="post">
                <input name="__RequestVerificationToken" type="hidden" value="ogWAi-zkckYP0nN0ET1ID-Nl45kKZAHDmDeM-jTSxbi3ywJNw7oUFZdmERKDvzPN_1WAJGhgDVjDfGFfMOGtEB5_qWBoSSqOKhUo3TxJ0TE1" /><div class="form-horizontal">

                    <hr />

                    <div class="form-group">
                        <label for="TenKH">Tên khách hàng</label>
                        <div>
                            <input class="form-control text-box single-line" id="TenKH" name="TenKH" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="TenKH" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="DiaChi">Địa chỉ</label>
                        <div>
                            <input class="form-control text-box single-line" id="DiaChi" name="DiaChi" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="DiaChi" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="DienThoai">Điện thoại</label>
                        <div>
                            <input class="form-control text-box single-line" id="DienThoai" name="DienThoai" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="DienThoai" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Username">Tên đăng nhập</label>
                        <div>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Username Required!" id="Username" name="Username" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Password">Mật khẩu</label>
                        <div>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Password Required!" id="Password" name="Password" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng ký" style="width: 350px;margin-left: -7%;" class="btn btn-black" />
                        </div>
                    </div>
                </div>

                <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>