@{
    ViewBag.Title = "Giới thiệu";
}



<div style="text-align:center; margin-top: 60px; margin-left:60px; margin-right:60px">
    <h2>@ViewBag.Title</h2>
    <div class="content-area">
        <div class="gucci-wysiwyg-content">
            <p class="times-14" style="text-align">
                Sứ mệnh của chúng tôi là giúp bạn trao đi tâm tư và biến mọi dịp trọng đại của bạn trở nên đặc biệt hơn.
                </br>Đội ngũ giàu kinh nghiệm của chúng tôi luôn đảm bảo đem đến cho bạn những bó hoa tươi nhất được gói cùng các loại nguyên vật liệu chất lượng cao.</br> Chúng tôi cung cấp nhiều chủng loại hoa, kích thước và thiết kế khác nhau phù hợp cho bất kỳ dịp nào bạn cần.
                </br> Thông qua nền tảng trực tuyến, chúng tôi mong muốn đem đến cho bạn trải nghiệm thật tiện lợi, dễ dàng và tràn đầy niềm vui.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-2">
            <div class="row">
                <ul>
                    <li>
                        <img src="~/Image/flo1.png" style="height: 100px;" />

                    </li>
                    <li>
                        Là website cung cấp dịch vụ điện hoa, quà tặng đến khắp các huyện, thị trấn, thị xã trực thuộc các tỉnh, thành phố trong cả nước.
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <img src="~/Image/flo2.png" style="height: 100px;" />

                    </li>
                    <li>
                        <br />
                        Với thông điệp "NỖ LỰC VÌ BẠN", Floda hướng đến một dịch vụ chuyên nghiệp trong việc truyền tải thông điệp, cảm xúc từ người tặng gửi đến người nhận trên mọi miền đất nước.
                        <br />
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">

            <img src="~/Image/about.png" />

        </div>
        <div class="col-2">
            <div class="row">
                <ul>
                    <li>
                        <img src="~/Image/flo3.png" style="height: 100px;" />

                    </li>
                    <li>
                        Mục tiêu của các sản phẩm dịch vụ chúng tôi: Uy tín - Đúng giờ, đúng yêu cầu.Khách hàng hài lòng - Phục vụ tận tình.Nỗ lực - Giao hoa, quà tặng tới mọi miền đất nước<br />
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <img src="~/Image/flo4.png" style="height: 100px;" />

                    </li>
                    <li>
                        THÔNG TIN CHI TIẾT LIÊN HỆ
                        <br />
                        Website: <a href="/Home/Index" style="color: #C1B497;"><u>floda.vn</u></a>
                        <br />
                        Hotline: 033 3838 991<br />

                        Email: flodasince2022@gmail.com
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>


    </div>
