
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="text-align: center;">
    <br />
    <h2>Đã đặt hàng thành công </h2>
    <br />
    <img src="~/Image/bg.jpg" style=" width: 30%; "/>
    <br />
    <h5 style="text-align: center">
        Tiếp tục mua sắm nào. <a href="/" style="color: limegreen">MUA THÊM </a>
      
    </h5>
    <br />
</div>


